## PRE ##
html {
	width: 70%;
}

body {
	font-family: 'Wellfleet', cursive;
}

## HEADER ##

header {

}

header h1 {

}

header p {

}

nav {

}

nav ul {

}

nav ul li {

}


## BODY ##

.noticeBanner {

}

#main {

}

#quickLinks {

}

#serversGlance {

}


## FOOTER ##

footer {
	
}